/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";
@plugin "daisyui";

/* Custom animations */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out forwards;
}

@keyframes pulse-slow {

  0%,
  100% {
    transform: scale(1);
    opacity: 0.7;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 4s infinite;
}


.nav-link {
  @apply text-slate-700 dark:text-slate-200 hover:text-indigo-600 dark:hover:text-indigo-400 transition;
}

.btn-primary {
  @apply px-4 py-2 rounded-lg bg-indigo-600 hover:bg-indigo-700 text-white transition;
}

.btn-danger {
  @apply px-4 py-2 rounded-lg bg-red-600 hover:bg-red-700 text-white transition;
}

.icon-btn {
  @apply p-2 rounded-full hover:bg-slate-200 dark:hover:bg-slate-700 transition;
}


